/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

.border{
    @apply border-solid
}
::-webkit-scrollbar {
    @apply  w-[10px]   

  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-200 rounded-2xl hover:scale-150
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 rounded-2xl hover:bg-black 
  }
  
.ant-btn-secondary{
  @apply !h-fit font-black text-lg text-white 
  !bg-green-600/80   hover:!bg-green-700  hover:!text-white 
}

.hover-scale{ 
  @apply  hover:!bg-blue-100  hover:animate-pulse 
}
.ant-btn-info{
    @apply !h-fit font-black text-lg text-white 
        !bg-gray-600/80   hover:!bg-gray-700  hover:!text-white 
}
.ant-btn-edit{
    @apply !h-fit font-black text-lg text-white 
   bg-amber-600/80   hover:bg-amber-700
}
.ant-btn-delete{
    @apply !h-fit font-black text-lg text-white  
    bg-rose-600/80   hover:bg-rose-700
}
.ant-btn-create{
    @apply !h-fit font-black text-lg text-white 
    bg-blue-600/80   hover:bg-blue-700
}
.ant-btn-active{
    @apply min-w-[40px] !h-fit p-1 font-black text-base text-white bg-sky-600/70 hover:text-white
}
.ant-btn-list{
    @apply min-w-[40px] !h-fit p-1 font-semibold text-xs text-black bg-white !border  border-gray-300 hover:border-sky-300 hover:text-base hover:font-black
}

.ant-btn-xs-normal{
    @apply p-0 !h-fit font-semibold text-xs text-black bg-white !border  border-gray-300 
    hover:border-sky-500 hover:font-black hover:text-blue-500 
}
.profile-label{
    @apply rounded-l-lg bg-gray-300 text-stone-700 w-64 text-right
}
.profile-row{
   @apply flex gap-1 hover:bg-slate-100 rounded-lg
}

button[disabled]{
   @apply cursor-not-allowed hover:!bg-gray-500
  }
.student-form-layout{
    @apply min-w-[8cm] mx-2 !mb-0 flex items-start
}
.student-form-layout .ant-form-item-label {
    @apply  !w-[3.2cm] bg-gray-300/70  !rounded-l-2xl  h-fit
}
.student-form-layout .ant-form-item-label > label{
    @apply !text-slate-500 text-base inline-block p-1
}
.ant-row.ant-form-item-row{
    @apply  flex items-start 
}
/* checkbox-layout checkbox button style */
.checkbox-btn{
    @apply bg-slate-400/40 p-1 rounded-2xl min-w-16 flex items-center justify-center
         text-slate-600 text-lg font-bold hover:bg-sky-500/50
}
.checkbox-btn .ant-checkbox-inner{
    display: none;
}
.checkbox-btn .ant-checkbox-checked{
    display: none;
}
.checkbox-btn.ant-checkbox-wrapper-checked{
    @apply !bg-sky-400/50 text-sky-800 font-extrabold
    
}
/* end */
.ant-form-bg{
@apply bg-stone-200/80 rounded-2xl p-2 font-black 
}
.form-header{
    @apply font-black text-2xl text-slate-500 px-1
}


/**/
/* TransitionGroup list */
.list-move, 
.list-enter-active,
.list-leave-active {
  transition: all 0.2s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(90px);
}
.list-leave-active {
  position: absolute;
}
/* TransitionGroup */

/*capsule layout label*/
.capsule-outline{
  @apply  flex bg-gray-300 rounded-lg p-1 px-2 items-center gap-1
}
.capsule-label{
  @apply   text-gray-600 font-black rounded-l-lg bg-gray-100 p-1
}
/*capsule layout label*/


/*sorttable_chosen*/
.sortable-chosen >td{
  animation: opacityFlash 2s infinite;

}

@keyframes opacityFlash {
  0%, 100% {
    animation-timing-function:linear;
    @apply opacity-80 font-black bg-white
}
50% {
    animation-timing-function: linear;
    @apply opacity-100   bg-indigo-100
}
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease-out, height 0.3s linear;
}
.v-enter-from,
.v-leave-to {
    opacity:0;
    height:0px;
  }